.icon--code {
  background-image: url("png/code.png");
  background-repeat: no-repeat; }

.icon--coffee {
  background-image: url("png/coffee.png");
  background-repeat: no-repeat; }

.icon--email {
  background-image: url("png/email.png");
  background-repeat: no-repeat; }

.icon--github {
  background-image: url("png/github.png");
  background-repeat: no-repeat; }

.icon--html-five {
  background-image: url("png/html-five.png");
  background-repeat: no-repeat; }

.icon--javascript {
  background-image: url("png/javascript.png");
  background-repeat: no-repeat; }

.icon--linkedin {
  background-image: url("png/linkedin.png");
  background-repeat: no-repeat; }
