/***************************
  BASE
****************************/
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
/***************************
  PARTIALS
****************************/
body {
  min-height: 75rem;
  padding-top: 4.5rem; }
  body .marker {
    font-family: "Permanent Marker", sans-serif; }

#main h1 {
  color: #031E6E; }

.btn-primary.btn-blue {
  color: #fff;
  background-color: #031E6E;
  border-color: #031E6E; }

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  color: #fff;
  background-color: #2384C2;
  border-color: #2384C2; }

.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-image: none; }

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #031E6E;
  border-color: #031E6E; }

.btn-blue .badge {
  color: #031E6E;
  background-color: #fff; }

nav.navbar {
  height: 63px;
  background-color: #031E6E !important;
  border-bottom: 3px solid #084092; }
  nav.navbar .navbar-brand {
    color: #fff;
    height: 45px; }
    nav.navbar .navbar-brand:hover, nav.navbar .navbar-brand:focus {
      border-bottom: 2px solid #F07300;
      color: #fff; }
  nav.navbar .navbar-text {
    color: #fff; }
  nav.navbar .navbar-nav .nav-link {
    color: #fff;
    margin: 0 0.25em;
    height: 45px; }
    nav.navbar .navbar-nav .nav-link:hover, nav.navbar .navbar-nav .nav-link:focus {
      border-bottom: 2px solid #F07300;
      color: #fff; }
  nav.navbar .navbar-nav .nav-item.active .nav-link,
  nav.navbar .navbar-nav .nav-item.active .nav-link:hover,
  nav.navbar .navbar-nav .nav-item.active .nav-link:focus,
  nav.navbar .navbar-nav .nav-item.show .nav-link,
  nav.navbar .navbar-nav .nav-item.show .nav-link:hover,
  nav.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #fff;
    border-bottom: 2px solid #F07300; }
  nav.navbar .navbar-toggler {
    color: #fff;
    border: none; }
    nav.navbar .navbar-toggler:hover, nav.navbar .navbar-toggler:focus {
      border: none;
      border-bottom: 2px solid #F07300; }
    nav.navbar .navbar-toggler .menu-label {
      color: #fff; }
  nav.navbar .navbar-collapse,
  nav.navbar .navbar-form {
    border-color: #031E6E; }
  nav.navbar .navbar-link {
    color: #031E6E; }
    nav.navbar .navbar-link:hover {
      color: #2384C2; }

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #031E6E; }
    .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #2384C2; }
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2384C2;
    background-color: #fff; } }

@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #031E6E; }
    .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #2384C2; }
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2384C2;
    background-color: #fff; } }

@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #031E6E; }
    .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #2384C2; }
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2384C2;
    background-color: #fff; } }

@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #031E6E; }
    .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #2384C2; }
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2384C2;
    background-color: #fff; } }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #031E6E; }
  .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2384C2; }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #2384C2;
  background-color: #fff; }

.main-section {
  padding-right: 30px;
  padding-left: 25px; }
  .main-section h1,
  .main-section h2,
  .main-section h3,
  .main-section h4,
  .main-section h5 {
    color: #031E6E; }

.section {
  padding: 50px 25px 0; }
  .section h2 {
    margin-bottom: 16px; }
  @media (max-width: 577px) {
    .section {
      padding-right: 8px;
      padding-left: 0; } }
  .section .service-heading {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 2px solid #F07300; }
  .section .small-heading {
    font-size: 20px; }
  .section h4 {
    font-size: 18px; }
  .section a {
    color: #084092; }
    .section a:hover, .section a:focus, .section a:active {
      color: #2384C2;
      text-decoration: none; }
  .section .icon {
    padding: 5px 20px 5px 10px;
    margin-right: 5px; }
  .section .highlight-text {
    color: #2384C2; }
  .section .main-text {
    color: #031E6E; }
  .section .bold-text {
    font-weight: bold; }
  .section .big-text {
    color: #031E6E;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0; }

#about .about-me {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 32px; }

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
  text-align: center; }

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto; }
  #portfolio .portfolio-item .portfolio-link img {
    height: 200px;
    width: auto;
    max-width: 400px; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: #F07300;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0; }

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 25px; }

#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0; }

#portfolio .portfolio-item .portfolio-caption p {
  font-style: italic;
  font-size: 16px;
  margin: 0; }

#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.portfolio-page img {
  width: auto;
  max-width: 600px;
  margin-bottom: 24px; }

.job-section p {
  padding-right: 50px; }

#contact .contact-list {
  list-style: none;
  padding-left: 0; }
  #contact .contact-list p {
    display: inline-block; }

#contact .contact-email p {
  display: inline-block; }

.footer {
  border-top: 5px solid #031E6E;
  padding-top: 25px;
  padding-left: 50px; }
  @media (max-width: 577px) {
    .footer {
      padding-right: 24px; } }
  .footer h2 {
    margin-bottom: 0; }
  .footer a {
    color: #031E6E; }
  .footer .menu-list {
    margin-right: 50px; }
  .footer .footer-menu,
  .footer .footer-contact {
    list-style: none;
    padding-left: 12px; }
    .footer .footer-menu li,
    .footer .footer-contact li {
      padding-top: 4px;
      padding-bottom: 4px; }
