/***************************
  BASE
****************************/
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
/***************************
  PARTIALS
****************************/
#main h1 {
  color: #225378; }

.btn-primary.btn-blue {
  color: #fff;
  background-color: #225378;
  border-color: #225378; }

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  color: #fff;
  background-color: #eb7f00;
  border-color: #eb7f00; }

.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-image: none; }

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #225378;
  border-color: #225378; }

.btn-blue .badge {
  color: #225378;
  background-color: #fff; }

nav.navbar,
.bg-light {
  background-color: #fff !important;
  border-bottom: 1px solid #225378; }
  nav.navbar .marker,
  .bg-light .marker {
    font-family: "Permanent Marker", sans-serif; }
  nav.navbar .navbar-brand,
  .bg-light .navbar-brand {
    color: #225378; }
    nav.navbar .navbar-brand:hover, nav.navbar .navbar-brand:focus,
    .bg-light .navbar-brand:hover,
    .bg-light .navbar-brand:focus {
      color: #eb7f00; }
  nav.navbar .navbar-text,
  .bg-light .navbar-text {
    color: #225378; }
  nav.navbar .navbar-nav .nav-link,
  .bg-light .navbar-nav .nav-link {
    color: #225378;
    border-radius: 0.25rem;
    margin: 0 0.25em; }
    nav.navbar .navbar-nav .nav-link:not(.disabled):hover, nav.navbar .navbar-nav .nav-link:not(.disabled):focus,
    .bg-light .navbar-nav .nav-link:not(.disabled):hover,
    .bg-light .navbar-nav .nav-link:not(.disabled):focus {
      color: #eb7f00; }
  nav.navbar .navbar-nav .nav-item.active .nav-link,
  nav.navbar .navbar-nav .nav-item.active .nav-link:hover,
  nav.navbar .navbar-nav .nav-item.active .nav-link:focus,
  nav.navbar .navbar-nav .nav-item.show .nav-link,
  nav.navbar .navbar-nav .nav-item.show .nav-link:hover,
  nav.navbar .navbar-nav .nav-item.show .nav-link:focus,
  .bg-light .navbar-nav .nav-item.active .nav-link,
  .bg-light .navbar-nav .nav-item.active .nav-link:hover,
  .bg-light .navbar-nav .nav-item.active .nav-link:focus,
  .bg-light .navbar-nav .nav-item.show .nav-link,
  .bg-light .navbar-nav .nav-item.show .nav-link:hover,
  .bg-light .navbar-nav .nav-item.show .nav-link:focus {
    color: #eb7f00;
    background-color: #fff; }
  nav.navbar .navbar-toggle,
  .bg-light .navbar-toggle {
    border-color: #fff; }
    nav.navbar .navbar-toggle:hover, nav.navbar .navbar-toggle:focus,
    .bg-light .navbar-toggle:hover,
    .bg-light .navbar-toggle:focus {
      background-color: #fff; }
    nav.navbar .navbar-toggle .navbar-toggler-icon,
    .bg-light .navbar-toggle .navbar-toggler-icon {
      color: #225378; }
  nav.navbar .navbar-collapse,
  nav.navbar .navbar-form,
  .bg-light .navbar-collapse,
  .bg-light .navbar-form {
    border-color: #225378; }
  nav.navbar .navbar-link,
  .bg-light .navbar-link {
    color: #225378; }
    nav.navbar .navbar-link:hover,
    .bg-light .navbar-link:hover {
      color: #eb7f00; }

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #225378; }
    .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #eb7f00; }
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #eb7f00;
    background-color: #fff; } }

@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #225378; }
    .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #eb7f00; }
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #eb7f00;
    background-color: #fff; } }

@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #225378; }
    .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #eb7f00; }
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #eb7f00;
    background-color: #fff; } }

@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #225378; }
    .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #eb7f00; }
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #eb7f00;
    background-color: #fff; } }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #225378; }
  .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #eb7f00; }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #eb7f00;
  background-color: #fff; }

body {
  min-height: 75rem;
  padding-top: 4.5rem; }

.main-section {
  padding-right: 30px;
  padding-left: 25px; }
  .main-section h1,
  .main-section h2,
  .main-section h3,
  .main-section h4,
  .main-section h5 {
    color: #225378; }

.section {
  padding: 50px 25px 0; }
  .section .small-heading {
    font-size: 20px; }
  .section h4 {
    font-size: 18px; }
  .section a {
    color: #1595A3; }
    .section a:hover, .section a:focus, .section a:active {
      color: #eb7f00;
      text-decoration: none; }
  .section .icon {
    padding: 5px 20px 5px 10px;
    margin-right: 5px; }
  .section .orange-text {
    color: #eb7f00; }

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
  text-align: center; }

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto; }
  #portfolio .portfolio-item .portfolio-link img {
    height: 200px;
    width: auto;
    max-width: 400px; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: #ffac4d;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0; }

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 25px; }

#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0; }

#portfolio .portfolio-item .portfolio-caption p {
  font-style: italic;
  font-size: 16px;
  margin: 0; }

#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.portfolio-page img {
  width: auto;
  max-width: 600px;
  margin-bottom: 24px; }

#contact .contact-list {
  list-style: none;
  padding-left: 0; }
  #contact .contact-list p {
    display: inline-block; }
