// colors
$neutral-black: #000;
$neutral-white: #fff;
$color-main: #031E6E;
$color-light-main: #084092;
$color-highlight: #2384C2;
$color-lighter-highlight: #F07300;
$color-lightest-main: #5F6366;

// navbar
$bg-default: $color-main;
$bg-highlight: $neutral-white;
$col-default: $color-main;
$col-highlight: $color-highlight;
$drop-down: false;

// font
$font: 'Permanent Marker';
