// colors
$neutral-black: #000;
$neutral-white: #fff;
$color-blue: #225378;
$color-light-blue: #1595A3;
$color-orange: #eb7f00;
$color-lighter-orange: #ffac4d;
$color-lightest-blue: #acf0f2;

// navbar
$bg-default: $neutral-white;
$bg-highlight: $neutral-white;
$col-default: $color-blue;
$col-highlight: $color-orange;
$drop-down: false;
