  </div>

  <footer class="footer col-xs-12 section">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="marker highlight-text">Cara Clarke</h2>
        <a href="">cara.clarke8@gmail.com</a>
        <p>I'm a Boston-based software developer with a passion for learning and strong front-end skills</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 menu-list">
        <h3>Menu</h3>
        <ul class="footer-menu">
          <li class="nav-item">
            <a href="/#">Home</a>
          </li>
          <li class="nav-item">
            <a href="/#main">About</a>
          </li>
          <li class="nav-item">
            <a href="/#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a href="/#hire-me">Hire Me</a>
          </li>
          <li class="nav-item">
            <a href="app/img/clarke-cara.pdf" rel="noopener" target="_blank">Resume</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 contact-list">
        <h3>Social</h3>
        <ul class="footer-contact">
          <li>
            <a href="https://github.com/caraclarke" rel="noopener" target="_blank">GitHub</a>
          </li>
          <li>
            <a href="http://www.linkedin.com/in/caraclarke" rel="noopener" target="_blank">
              LinkedIn
            </a>
          </li>
          <li>
            <a href="https://stackoverflow.com/users/6826746/caraclarke" rel="noopener" target="_blank">
              Stack Overflow
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="app/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
