<section class="col-xs-12 section" id="about">
<div class="row">
  <div class="col-md-6 col-xs-12">
    <h4 class="service-heading">Client Oriented</h4>
    <p class="text-muted">My previous experience working in customer service gave me strong communication skills and a desire to build relationships with clients. I enjoy the time I spend collaborating with different people and teams.</p>
  </div>
  <div class="col-md-6 col-xs-12">
    <h4 class="service-heading">Always Learning</h4>
    <p class="text-muted">I enjoy opportunities to solve problems, learn new languages and challenge myself to grow personally and professionally.</p>
  </div>
</div>

</section>
