<section class="col-xs-12 section" id="about">
<h2 class="sr-only">About Me</h2>

<div class="row">
  <div class="col-md-3 col-xs-12">
    <h3 class="service-heading">
      Software Engineer
    </h3>
    <p>I enjoy the opportunity and challenge of working with an application from beginning to end.</p>
  </div>
  <div class="col-md-3 col-xs-12">
    <h3 class="service-heading">
      Collaborating
    </h3>
    <p>My background in technical communication allows me to build functional apps that are visually appealing, responsive, and work well within a team.</p>
  </div>
  <div class="col-md-3 col-xs-12">
    <h3 class="service-heading">
      Client Oriented
    </h3>
    <p>I have strong communication skills and a desire to build relationships with clients. I enjoy the time I spend working with different people and teams.</p>
  </div>
  <div class="col-md-3 col-xs-12">
    <h3 class="service-heading">
      Always Learning
    </h3>
    <p>I enjoy opportunities to solve problems, learn new languages and challenge myself to grow personally and professionally.</p>
  </div>
</div>

</section>
