<section class="col-xs-12 section" id="about">
<div class="row">
  <div class="col-md-3 col-xs-12">
    <h4 class="service-heading">
      Web Developer
    </h4>
    <p>Knowing front and back end languages, skills and frameworks I enjoy the opportunity and challenge of working with an application from beginning to end.</p>
  </div>
  <div class="col-md-3 col-xs-12">
    <h4 class="service-heading">
      Designing &amp; Developing
    </h4>
    <p>My background in user experience design and technical communication allows me to build functional apps that are visually appealing, responsive, and work well within a team.</p>
  </div>
  <div class="col-md-3 col-xs-12">
    <h4 class="service-heading">
      Client Oriented
    </h4>
    <p>My previous experience working in customer service gave me strong communication skills and a desire to build relationships with clients. I enjoy the time I spend collaborating with different people and teams.</p>
  </div>
  <div class="col-md-3 col-xs-12">
    <h4 class="service-heading">
      <span class="icon icon--book"></span>
      Always Learning
    </h4>
    <p>I enjoy opportunities to solve problems, learn new languages and challenge myself to grow personally and professionally.</p>
  </div>
</div>

</section>
