<section class="col-xs-12 section" id="contact">
  <h2>Contact Me</h2>
  <div class="row">
    <ul class="col-xs-12 contact-list">
      <li>
        <a href="mailto:cara.clarke8@gmail.com" target="_blank">
          <p>cara.clarke8@gmail.com</p>
        </a>
      </li>

      <li>
        <a href="https://github.com/caraclarke" target="_blank">
          <p>Follow Me on GitHub</p>
        </a>
      </li>

      <li>
        <a href="http://www.linkedin.com/in/caraclarke" target="_blank">
          <p>Connect on LinkedIn</p>
        </a>
      </li>
    </ul>
  </div>
</section>
