<section class="col-xs-12 section" id="contact">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h2>Social</h2>
      <ul class="col-xs-12 contact-list">
        <li>
          <a href="https://github.com/caraclarke" target="_blank">
            <p>GitHub</p>
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/caraclarke" target="_blank">
            <p>LinkedIn</p>
          </a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/6826746/caraclarke" target="_blank">
            <p>Stack Overflow</p>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-6 col-xs-12">
      <h2>Contact</h2>
      <p>Let's get in touch:</p>
      <a href="mailto:cara.clarke8@gmail.com" target="_blank">
        <p>cara.clarke8@gmail.com</p>
      </a>
    </div>
  </div>
</section>
