<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Me</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-3 columns">
        <a href="mailto:cara.clarke8@gmail.com" target="_blank">
          <i class="fa fa-envelope fa-2x"></i>
          <p>cara.clarke8@gmail.com</p></a>
      </div>
      <div class="col-md-3 columns">
        <a href="https://github.com/caraclarke" target="_blank">
          <i class="fa fa-github fa-2x"></i>
          <p>Follow Me on GitHub</p></a>
      </div>
      <div class="col-md-3 columns">
        <a href="http://www.linkedin.com/in/caraclarke" target="_blank">
          <i class="fa fa-linkedin fa-2x"></i>
          <p>Connect on LinkedIn</p></a>
      </div>
      <div class="col-md-3 columns">
        <a href="https://twitter.com/cara_elizabeth8" target="_blank">
          <i class="fa fa-twitter fa-2x"></i>
          <p>Follow Me on Twitter</p></a>
      </div>
      </div>
    </div>
  </div>
</section>
