<section class="col-xs-12 section" id="hire-me">
  <h2>Reverse Job Post: Front-end Developer</h2>

  <div class="col-xs-12 job-section">
    <p>Cara's potential employer seeks a ux-focused, front-end developer with strong JavaScript and HTML/CSS skills and knowledge about accessible code and design. This role is part of a collaborative team that values communication, learning, growth and problem solving.</p>

    <p>At Cara's potential employer, we work to promote communication and collaboration across teams. Our ideal candidate is passionate about working with designers, project managers and other development teams to meet and exceed project expectations.</p>
  </div>

  <div class="col-xs-12 resp-section">
    <h3 class="small-heading">Responsibilities</h3>
    <ul>
      <li>Work with UX designers to create accessible and technically feasible designs, as well as provide technical input during design phase</li>
      <li>Write clean, accessible markup in HTML or other templating languages</li>
      <li>Write clean, modular SCSS/CSS in line with the companies brand and design system</li>
      <li>Use JavaScript to add interactive components to provided designs</li>
      <li>Create components using frameworks such as Angular</li>
    </ul>
  </div>
  </div>
</section>
