<section class="col-xs-12 section" id="tech-exp">
  <div class="row">
    <div class="col-xs-6 tech-text">
      <p>JavaScript</p>
      <p>jQuery</p>
      <p>Angular5</p>
      <p>Angular.js</p>
    </div>
    <div class="col-xs-6 tech-text">
      <p>HTML &amp; CSS/SCSS</p>
      <p>Git</p>
      <p>SVN</p>
      <p>CVS</p>
      <p>HTML Emails</p>
    </div>
  </div>
</section>
