<% include ../partials/_header %>

<div class="col-xs-10 portfolio-page">
  <h2>History of the Internet</h2>
  <p class="item-intro text-muted">Front End: HTML/CSS, AngularJS. <br>Back end: Ruby on Rails, PostgreSQL.</p>

  <img class="img-responsive img-centered" src="app/img/portfolio/history.png" alt="">

  <p>This app is a timeline of the history of the internet. From its beginnings in 1966 up to present day this website displays important events and popular websites of the year. This project uses HTML, CSS and AngularJS on the front end, Ruby on Rails on the back end with a PostgreSQL database.</p>
  <p>View this repository <a href="https://github.com/caraclarke/final-project-front">on Github here</a>.</p>
  <p>View this project <a href="https://caraclarke.github.io/final-project-front">live here</a>. <strong>Please note:</strong> The back end is hosted for free on Heroku and may take a few moments to load.</p>

</div>
<% include ../partials/_footer %>
