<% include ../partials/_header %>

<div class="col-xs-12">
  <h1>Hello, my name is Cara Clarke</h1>
  <h3>I am a front-end web developer</h3>
</div>

<% include ../sections/_about %>

<% include ../sections/_tech-exp %>

<% include ../sections/_portfolio %>

<% include ../sections/_contact %>

<% include ../partials/_footer %>
