<% include ../partials/_header %>

<section class="col-xs-10 section" id="main">
  <h1>Hello<span class="orange-text">!</span> My name is Cara Clarke <span class="orange-text">&amp;</span> I am a front-end web developer</h1>

  <p class="about-me"><strong class="blue-text">Primary skills:</strong> JavaScript, jQuery, AngularJS, Angular5 &amp; TypeScript, HTML5/CSS3, SCSS</p>

  <p class="about-me">I am a California native turned Boston resident. I am a full stack web developer, and my background is in user experience design. I am a dedicated, dependable team member with strong interpersonal skills  that allow me to flourish within a team and go the extra mile with clients. I use my intelligence to further business goals and am not afraid to think on the job.</p>
</section>

<% include ../sections/_portfolio %>

<% include ../sections/_about %>

<% include ../sections/_hire-me %>

<% include ../sections/_contact %>

<% include ../partials/_footer %>
