<% include ../partials/_header %>

<div class="col-xs-12">
  <p>blurb section</p>
</div>

<% include ../sections/_about %>

<% include ../sections/_tech-exp %>

<% include ../sections/_portfolio %>

<% include ../sections/_contact %>

<% include ../partials/_footer %>
