<% include ../partials/_header %>

<section class="col-xs-10 section" id="main">
  <h1><span class="highlight-text">Hello,</span> I'm Cara Clarke</h1>
  <p class="big-text">I'm a <span class="lightest-highlight">software engineer</span> with a focus on front-end web development and accessibility<p>

  <p class="about-me">I'm an experienced IT professional with a background in front-end development, coding, and testing. Skilled in software development best practices as well as programming languages and frameworks like JavaScript and ReactJS. Dynamic software engineer adept at building reusable component libraries and fostering collaboration to drive project success.</p>

  <p class="about-me"><span class="main-text bold-text">Core expertise:</span> Web Accessibility, Software Engineering, Front-End Development, ReactJS, JavaScript, HTML5/CSS3</p>
</section>

<% include ../sections/_about %>

<% include ../sections/_hire-me %>

<% include ../sections/_contact %>
