<% include ../partials/_header %>

<section class="col-xs-12 section" id="main">
  <h1>Hello, my name is Cara Clarke &amp; <span class="smaller">I am a front-end web developer</span></h1>
</section>

<% include ../sections/_about %>

<% include ../sections/_tech-exp %>

<% include ../sections/_portfolio %>

<% include ../sections/_contact %>

<% include ../partials/_footer %>
