<% include ../partials/_header %>

<h2>JavaScript Form Validation</h2>
<p class="item-intro text-muted">Front End: HTML/CSS, es6 JavaScript</p>
<img class="img-responsive img-centered" src="app/img/icons/png/javascript.png" alt="">
<p>This project is a set of files and examples of form validation. It can be leveraged as a whole or taken in pieces.</p>
<p>This project uses HTML/CSS for the example page, and JavaScript for all form validation.</p>
  <p>View this repository <a href="https://github.com/caraclarke/javascript-form-validation">on Github here</a>.</p>

<% include ../partials/_footer %>
