body {
  min-height: 75rem;
  padding-top: 4.5rem;

  .marker {
    font-family: $font, sans-serif;
  }
}

#main {
  h1 {
    color: $color-main;
  }
}

.btn-primary.btn-blue {
  color: $neutral-white;
  background-color: $color-main;
  border-color: $color-main;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  color: $neutral-white;
  background-color: $color-highlight;
  border-color: $color-highlight;
}

.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-image: none;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: $color-main;
  border-color: $color-main;
}

.btn-blue .badge {
  color: $color-main;
  background-color: $neutral-white;
}
