nav.navbar {
  height: 63px;
  background-color: $bg-default !important;
  border-bottom: 3px solid $color-light-main;

  .navbar-brand {
    color: $neutral-white;
    height: 45px;

    &:hover,
    &:focus {
      border-bottom: 2px solid $color-lighter-highlight;
      color: $neutral-white;
    }
  }

  .navbar-text {
    color: $neutral-white;
  }

  .navbar-nav {
    .nav-link {
      color: $neutral-white;
      margin: 0 0.25em;
      height: 45px;

      &:hover,
      &:focus {
        border-bottom: 2px solid $color-lighter-highlight;
        color: $neutral-white;
      }
    }

    .nav-item.active,
    .nav-item.show {
      .nav-link,
      .nav-link:hover,
      .nav-link:focus {
        color: $neutral-white;
        border-bottom: 2px solid $color-lighter-highlight;
      }
    }
  }

  .navbar-toggler {
    color: $neutral-white;
    border: none;

    &:hover,
    &:focus {
      border: none;
      border-bottom: 2px solid $color-lighter-highlight;
    }

    .menu-label {
      color: $neutral-white;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $col-default;
  }

  .navbar-link {
    color: $col-default;

    &:hover {
      color: $col-highlight;
    }
  }
}

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $col-default;

      &:hover,
      &:focus {
        color: $col-highlight;
      }
    }

    .dropdown-item.active {
      color: $col-highlight;
      background-color: $bg-highlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $col-default;

      &:hover,
      &:focus {
        color: $col-highlight;
      }
    }

    .dropdown-item.active {
      color: $col-highlight;
      background-color: $bg-highlight;
    }
  }
}

@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $col-default;

      &:hover,
      &:focus {
        color: $col-highlight;
      }
    }

    .dropdown-item.active {
      color: $col-highlight;
      background-color: $bg-highlight;
    }
  }
}

@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $col-default;

      &:hover,
      &:focus {
        color: $col-highlight;
      }
    }

    .dropdown-item.active {
      color: $col-highlight;
      background-color: $bg-highlight;
    }
  }
}

.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $col-default;

    &:hover,
    &:focus {
      color: $col-highlight;
    }
  }

  .dropdown-item.active {
    color: $col-highlight;
    background-color: $bg-highlight;
  }
}
