.main-section {
  padding-right: 30px;
  padding-left: 25px;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $color-blue;
  }
}

.section {
  padding: 50px 25px 0;

  @media (max-width: 577px) {
    padding-right: 8px;
    padding-left: 0;
  }

  .service-heading {
    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 1px solid $color-orange;
  }

  .small-heading {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  a {
    color: $color-light-blue;

    &:hover,
    &:focus,
    &:active {
      color: $color-orange;
      text-decoration: none;
    }
  }

  .icon {
    padding: 5px 20px 5px 10px;
    margin-right: 5px;
  }

  .orange-text {
    color: $color-orange;
  }

  .blue-text {
    color: $color-blue;
  }
}

#about {
  .about-me {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 32px;
  }
}
