.main-section {
  padding-right: 30px;
  padding-left: 25px;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $color-blue;
  }
}

.section {
  padding: 50px 25px 0;

  .small-heading {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  a {
    color: $color-light-blue;

    &:hover,
    &:focus,
    &:active {
      color: $color-orange;
      text-decoration: none;
    }
  }

  .icon {
    padding: 5px 20px 5px 10px;
    margin-right: 5px;
  }

  .orange-text {
    color: $color-orange;
  }
}
