<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Glossary</h2>
              <p class="item-intro text-muted">Front End: HTML/CSS, React.js. <br>Data from <a href="https://docs.google.com/spreadsheets/d/1cupv1Po0tGnQ60YPCkKZ9ARqQJb-4diOfTZ07AnAz8s/edit?usp=sharing" target="_blank">Google spreadsheets</a> API.</p>
              <img class="img-responsive img-centered" src="img/portfolio/glossary-home.png" alt="">
              <p>The Glossary is an alphabetical list of Computer Science terms. These terms display as just the title and when clicked, reveal the definition. They also display a link to any related term that, when clicked, brings the user to that new term and reveals the definition. The Glossary can also be filtered alphabetically using the navigation bar located at the top of the screen.</p>
              <p>This project uses HTML/CSS and ReactJS on the front end. It uses the Google Spreadsheets API to fetch the terms.</p>
                <p>View this repository <a href="https://github.com/caraclarke/glossary">on Github here</a>.</p>
                <button type="button" class="btn btn-blue btn-primary" data-dismiss="modal">Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
