<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>JavaScript Form Validation</h2>
            <p class="item-intro text-muted">Front End: HTML/CSS, es6 JavaScript</p>
            <img class="img-responsive img-centered" src="img/icons/png/javascript.png" alt="">
            <p>This project is a set of files and examples of form validation. It can be leveraged as a whole or taken in pieces.</p>
            <p>This project uses HTML/CSS for the example page, and JavaScript for all form validation.</p>
              <p>View this repository on Github <a href="https://github.com/caraclarke/javascript-form-validation">here</a>.</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
